---
import { Image } from "astro:assets";

const { role, name, img, socialLinks } = Astro.props;
---

<button
    class="rounded-3xl bg-gray-100 dark:bg-neutral-900 h-80 w-56 md:h-[40rem] md:w-96 overflow-hidden flex flex-col items-start justify-start relative"
>
    <!-- Gradient overlay -->
    <div
        class="absolute h-full top-0 inset-x-0 bg-linear-to-b from-black/50 via-transparent to-transparent pointer-events-none z-10"
    >
    </div>

    <!-- Member info -->
    <div class="relative p-8 z-10">
        <p class="text-sm md:text-base font-medium font-sans text-left">
            {role}
        </p>
        <p
            class="text-xl md:text-3xl font-semibold max-w-xs text-left [text-wrap:balance] font-sans mt-2"
        >
            {name}
        </p>
    </div>

    <!-- Social links -->
    <div
        class="flex justify-center gap-2 mt-auto absolute bottom-0 z-10 w-full p-4 glass-bg rounded-b-3xl"
    >
        {
            socialLinks.map((link) => (
                <a
                    href={link.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class=" hover:text-blue-200 ring-hover"
                >
                    <img
                        src={link.icon}
                        width="24"
                        height="24"
                        alt="Social Icon"
                    />
                </a>
            ))
        }
    </div>

    <!-- Member image -->
    <Image
        alt={name}
        loading="lazy"
        decoding="async"
        data-nimg="fill"
        class="transition duration-300 blur-0 object-cover absolute w-full h-full inset-0"
        src={img}
    />
</button>
