---
import { Image } from "astro:assets";

const { role, name, img, socialLinks } = Astro.props;
---

<article
    class="member-card rounded-3xl bg-gray-100 dark:bg-neutral-900 h-64 w-44 md:h-[28rem] md:w-72 lg:h-[32rem] lg:w-80 overflow-hidden flex flex-col items-start justify-start relative"
>
    <!-- Gradient overlay -->
    <div
        class="absolute h-full top-0 inset-x-0 bg-linear-to-b from-black/50 via-transparent to-transparent pointer-events-none z-10"
    >
    </div>

    <!-- Member info -->
    <div class="relative p-4 md:p-6 z-10">
        <p
            class="text-xs md:text-sm font-medium font-sans text-left text-white"
        >
            {role}
        </p>
        <p
            class="text-lg md:text-2xl font-semibold max-w-xs text-left [text-wrap:balance] font-sans mt-1 text-white"
        >
            {name}
        </p>
    </div>

    <!-- Social links -->
    <div
        class="flex justify-center gap-2 mt-auto absolute bottom-0 z-10 w-full p-3 glass-bg rounded-b-3xl"
    >
        {
            socialLinks.map((link) => (
                <a
                    href={link.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class=" hover:text-blue-200 ring-hover"
                >
                    <link.icon width="24" height="24" alt="Social Icon" />
                </a>
            ))
        }
    </div>

    <!-- Member image -->
    <Image
        alt={name}
        class="blur-0 object-cover absolute w-full h-full inset-0"
        src={img}
    />
</article>
