---
import { Image } from "astro:assets";
const { role, name, img, socialLinks } = Astro.props;
---

<article class="relative max-w-7xl mx-auto group">
    <figure class="m-0 relative overflow-hidden rounded-lg">
        <Image
            src={img}
            alt={`Foto de ${name}`}
            width={800}
            height={400}
            class="w-full h-64 md:h-80 object-cover transition duration-300"
        />
        <figcaption
            class="absolute inset-x-0 top-0 p-4 bg-gradient-to-b from-black/70 to-transparent"
        >
            <header>
                <h4 class="font-bold text-lg">{role}</h4>
                <p class="text-sm">{name}</p>
            </header>
        </figcaption>
    </figure>

    <footer
        class="absolute inset-x-0 bottom-0
      p-6
      bg-gradient-to-t from-black/70 to-transparent
      flex justify-end gap-4 text-2xl
      z-10"
    >
        {
            socialLinks.map((link, i) => (
                <a
                    key={i}
                    href={link.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:text-blue-400 transition-colors"
                >
                    <img src={link.icon} alt="" class="h-6 w-6" />
                </a>
            ))
        }
    </footer>
</article>
