---
import CardMember from "../CardMember.astro";
const { items } = Astro.props;
---

<div class="relative max-w-7xl mx-auto py-8">
    <!-- Contenedor del carrusel -->
    <div
        class="overflow-x-auto flex snap-x snap-mandatory scroll-smooth gap-6 px-6 hide-scrollbar"
        id="carousel"
    >
        {
            items.map((member, idx) => (
                <section
                    id={`slide-${idx}`}
                    key={idx}
                    class="flex-shrink-0 snap-center w-72 sm:w-80 md:w-96 p-4 rounded-2xl  relative"
                >
                    <CardMember
                        role={member.role}
                        name={member.name}
                        img={member.img}
                        socialLinks={member.socialLinks}
                    />
                </section>
            ))
        }
    </div>
    <!-- Contenedor de flechas: fuera del .map -->
    <div
        class="fixed bottom-4 right-4
        md:bottom-6 md:right-6
        z-20
        flex space-x-2
        bg-white/20 backdrop-blur-sm rounded-full"
    >
        <!-- Flecha anterior -->
        <button
            id="prevBtn"
            aria-label="Anterior"
            class="h-12 w-12 md:h-10 md:w-10 rounded-full
                bg-white/20 backdrop-blur-sm
                hover:bg-white/30
                flex items-center justify-center
                transition z-20"
        >
            ◀
        </button>

        <!-- Flecha siguiente -->
        <button
            id="nextBtn"
            aria-label="Siguiente"
            class="h-12 w-12 md:h-10 md:w-10 rounded-full
            bg-white/20 backdrop-blur-sm
            hover:bg-white/30
            flex items-center justify-center
            transition z-20"
        >
            ▶
        </button>
    </div>
</div>

<script>
    const carousel = document.getElementById("carousel");
    document
        .getElementById("prevBtn")
        .addEventListener("click", () =>
            carousel.scrollBy({ left: -300, behavior: "smooth" }),
        );
    document
        .getElementById("nextBtn")
        .addEventListener("click", () =>
            carousel.scrollBy({ left: 300, behavior: "smooth" }),
        );
</script>
